@model IEnumerable<ReTicket.MVC.Models.TicketListingViewModel>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Available ReTickets for the event</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Seller's Username
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Make your decision :)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SellerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <input type="button" value="Buy" onclick="location.href='@Url.Action("Buy", "TicketListings", new { ticketListingId = item.TicketListingId, userId = userId })'" class="btn btn-danger" />
            </td>
        </tr>
}
    </tbody>
</table>
