@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/dark-mode.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome To ReTicket</h1>
    <img src="~/reticket.png" alt="ReTicket Logo" asp-append-version="true" />
</div>
