bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
/.vs/ProjectEvaluation/reticket.metadata.v7.bin
/.vs/ProjectEvaluation/reticket.projects.v7.bin
/.vs/ReTicket/DesignTimeBuild/.dtbcache.v2
/.vs/ReTicket/FileContentIndex/0792e922-6f31-45ea-8515-0369b2d4bb86.vsidx
/.vs/ReTicket/FileContentIndex/fda24299-11db-4050-800d-6c603fa2d3d6.vsidx
/.vs/ReTicket/FileContentIndex/cbe2c322-aa5e-446b-be16-6f32aa7c342c.vsidx
/.vs/ReTicket/v17/.wsuo
/.vs/ReTicket/v17/.suo
/.vs/ReTicket/v17/.futdcache.v2
/.vs/VSWorkspaceState.json
/.vs/ReTicket/FileContentIndex/1430d34a-9ab7-4e39-90e8-d44a58ed4ffd.vsidx
/.vs/ReTicket/FileContentIndex/merges/01439ffb-d92b-4775-8c9f-b6d2ed6b6de3.vsidx
/.vs/ReTicket/FileContentIndex/e90a991a-c6a4-42fb-9571-984ac52a8d31.vsidx
*.vsidx
*.lock
*.testlog
*.manifest
